@font-face {
    font-family: 'DNFBitBitv2';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/DNFBitBitv2/DNFBitBitv2.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DNFBitBitv2/DNFBitBitv2.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DNFBitBitv2/DNFBitBitv2.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/DNFBitBitv2/DNFBitBitv2.ttf') format('truetype');
}